<h1 class="mt-4">Delete user </h1>
<p class="lead mb-3"> <%= user.name %> , are you sure you want to delete the user?</p>
<div class="form-group">
          <label for="password">Introduce your password</label>
          <input type="code" class="form-control" id="code" name="code">
</div>
<a href="/users/dashboard" class="btn btn-secondary">Cancel</a>
<a href="/users/login" class="btn btn-secondary">Delete</a>
