doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="google-signin-client_id" content="151246464803-oek5ofh6mrfcr6edsl5lpdjjqv2gidug.apps.googleusercontent.com")
        title Document
        block head
            meta(name="google-signin-client_id" content="151246464803-oek5ofh6mrfcr6edsl5lpdjjqv2gidug.apps.googleusercontent.com")
            script(type='text/javascript' defer src='/public/index.js')
            script( async defer src="https://apis.google.com/js/platform.js")
            script(async defer src="https://connect.facebook.net/en_US/sdk.js")
            script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=485115039207078&autoLogAppEvents=1" nonce="xEEaXh7e")
    body 
        block content 
        br
        hr
        footer  
            p hello from layouts

