extends layout

block content
    div 
        form
            input(type="text" placeholder="enter your name")
            input(type="password" placeholder="enter your password")
            button(class="btn-login")
        button.login-btn login  
        //- button.fb-login-button(data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false") login with facebook
        fb:login-button(scope="public_profile,email" onlogin="checkLoginState()")
        button.github-login-btn login with github
        button.g-signin2(data-onsuccess="onSignIn" )
        






