@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500&display=swap");

@import "./sass/component.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
// img {
//   width: 20px;
//   object-fit: cover;
// }
button {
  border: none;
  -webkit-appearance: none;
}
